<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>author</title>
</head>
<body style="background-image: url('https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/Manipal_University_18122020_1200x800%20%281%29.jpg?itok=KfoldBL8'); background-size: 1000px; ">
<a href="home">Home</a>
<h1>About author</h1><br>
<pre style="font-size: 15px;">
I am Pratik Patnaik, a student of Manipal Institute of Engineering, Manipal. I am pursuing by BTech in Computer Science Engineering here.
It has a been a great journey so far being a student here. Made lots of friends, memories , relationships and what not. Manipal had 
everything that i wanted to have in my colege life and I wish this never ended. But soon it will, and I have no idea how to react but what i Know is that 
I will definitely miss the place.
</pre>
</body>
</html>
