<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review</title>
</head>
<body style="background-image: url('https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/Manipal_University_18122020_1200x800%20%281%29.jpg?itok=KfoldBL8'); background-size: 1000px;">
    <a href="home" style="font-size: 20px;">home</a><br>
    <h1 style="color: white;">Review</h1>
<pre style="color: white;font-size: 15px;">
This was a heart touching read. Being a former student of MIT , I completely understand what the 
author's emotions are trying to convey.
Every student has to go through this phase but what they must do is learn to look ahead and never
forget where they came from.
</pre>
</body>
</html>
