<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>Works Table:</h1><br>
    <table>
        <thead>
        <td>Person Name</td>
        <td>Company Name</td>
        <td>Salary</td>
        </thead>
        {% for category in categories %}
        <tr>
            <td>{{works.pname}}</td>
            <td>{{works.came}}</td>
            <td>{{works.salary}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h1>Lives table</h1>
    <table>
        <thead>
        <td>Person Name</td>
        <td>Street</td>
        <td>City</td>
        </thead>
        {% for page in pages %}
        <tr>
            <td>{{lives.pname}}</td>
            <td>{{lives.street}}</td>
            <td>{{lives.city}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'home_page' %}">Go back to home</a>
</body>
</html>
